*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1a1b26;
    color: #eeeeee;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.players {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
}

.player-one,
.player-two {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    gap: 4px;
    border-radius: 16px;
    overflow: hidden;
}
.player-one-name,
.player-two-name {
    flex: 1;
}
.player-one-name,
.player-one-marker,
.player-two-name,
.player-two-marker {
    background-color: rgba(230, 230, 230, 1);
    font-size: 20px;
    padding: 1.5rem;
    text-align: center;
}
.current-player {
    border: 2px solid red;
}

.board {
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    overflow: hidden;
    gap: 8px;
}
.board.game-over .board-cell {
    background-color: rgba(200, 200, 200, 1);
}

.board .board-cell {
    background-color: rgba(230, 230, 230, 1);
    font-size: 32px;
}
.board .board-cell:hover {
    background-color: lightgray;
}
.board .board-cell.success-cell {
    background-color: rgba(100, 255, 100, 1);
}
